<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ай ем Nedodayn</title>
	<link rel="icon" type="image/svg+xml" href="/vite.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="кубебес">
	<meta property="og:url" content="https://kub.thetms.ru">
	<meta property="og:description" content="челавек у каторава шыза жоская">
	<meta property="og:image" content="https://s.namemc.com/2d/skin/face.png?id=436d64cad83b1b30&scale=64">
</head>

<body>
	{% block main %}{% endblock %}

	<script type="module" src="/src/main.ts"></script>
</body>

</html>