<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ай ем Nedodayn</title>
	<link rel="icon" type="image/svg+xml" href="/vite.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	{% block main %}{% endblock %}

	<script type="module" src="/src/main.ts"></script>
</body>

</html>