<h2>дастежения:</h2>
<ul>
	<li>шызанулся и думаю шо я императар</li>
	<li>идеальнае знание языка тапака</li>
	<li>шиза уровен 100500</li>
	<li>неумный iq -1000</li>
	<li>закончил академию "лаховская" имени петра 9</li>
	<li>рисую как кривалапый конь</li>
	<li>сделал нечево</li>     
</ul>
